html
{
    height: 100%;
    background-image: url(../Assets/bgimg_0.png);
    background-position: bottom;
    background-size: cover;
}

body {
    height: 100%;
    background: transparent;
    color: #333333;
    font-family: wire-one;
    font-weight: bold;
}
h1 {
    font-family: tulpen-one;
    font-weight: lighter;
    font-size: 60px;
    text-shadow: 2px 2px #FFFFFF;
    height: 100%;
    
}
.bg {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../Assets/bgimg_0.png);
    background-position: bottom;
    background-size: cover;
}

#time {
    position: fixed;
    top: 25%;
    width: 100%;
}

#suffixLabel{
    font-size: 30px;
}


.no-pad {
    padding: 0px;
    text-align: center;
}

a {
    color: #333333;
    font-size: 30px;
    text-shadow: 1px 1px #FFFFFF;
}

#message {
    bottom: 5%;
    width: 100%;
    position: absolute;
}

p {
    font-family: economica;
    font-size: 24px;
    text-align: left;
    text-shadow: 1px 1px black;
    padding-left: 10px;
    color: rgba(255,255,255,0.8);
}

#contact {
    
    top: 2%;
    width: 100%;
    position: absolute;
}
