@font-face { font-family: Jaapokki; src: url('../fonts/Jaapokki-Regular.otf'); }
@font-face { font-family: Jaapokki-enhance; src: url('../fonts/Jaapokkienhance-Regular.otf'); }
@font-face { font-family: Jaapokki-subtract; src: url('../fonts/Jaapokkisubtract-Regular.otf'); } 

html
{
    height: 100%;
    background-image: url(../assets/bgimg_0.png);
    background-position: bottom;
    background-size: cover;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

body {
    height: 100%;
    background: transparent;
    color: #333;
    font-family: jaapokki-subtract;
    font-weight: bold;
}
h1 {
    font-family: jaapokki-enhance;
    font-weight: lighter;
    font-size: 50px;
    text-shadow: 3px 1px rgba(0,0,0,0.5);
    height: 100%;
    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(120,0,0,0.3);
}
.bg {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/bgimg_0.png);
    background-position: bottom;
    background-size: cover;
}

#time {
    position: fixed;
    top: 25%;
    width: 100%;
    cursor: default;
}

#suffixLabel{
    font-size: 30px;
}


.no-pad {
    padding: 0px;
    text-align: center;
}

a {
    font-size: 22px;
    text-shadow: 3px 1px rgba(0,0,0,0.5);
    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0,0,0,0.3);
}

a:hover{
    
    -webkit-text-fill-color: #FEE;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(120,0,0,0.3);
}

#message {
    bottom: 5%;
    width: 100%;
    position: absolute;
}

p {
    font-family: economica;
    font-size: 24px;
    text-align: left;
    text-shadow: 1px 1px #D00;
    padding-left: 10px;
    color: rgba(255,255,255,1);
    cursor: default;
}

#contact {
    
    top: 2%;
    width: 100%;
    position: absolute;
}

#messageBox {
    background-color: rgba(0,0,0,0.5);
    border-style: solid;
    border-width: 2px 2px;
    border-color: rgba(0,0,0,0.2);
}

#messageBox:hover {
    background-color: rgba(20,0,0,0.5);
    border-color: #B33;
}
